.content__card-link {
  margin: 2px;
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}
